# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
package-lock.json
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
log/compress-images/2022-8-26 23.43.32 (592).txt
log/compress-images/2022-8-26 23.43.32 (618).txt
log/compress-images/2022-8-26 23.43.32 (622).txt
log/compress-images/2022-8-26 23.43.32 (627).txt
log/compress-images/2022-8-26 23.43.32 (629).txt
log/compress-images/2022-8-26 23.43.32 (630).txt
log/compress-images/2022-8-26 23.43.48 (589).txt
log/compress-images/2022-8-26 23.43.48 (591).txt
log/compress-images/2022-8-26 23.43.48 (594).txt
log/compress-images/2022-8-26 23.43.48 (595).txt
log/compress-images/2022-8-26 23.43.48 (596).txt
log/compress-images/2022-8-26 23.43.48 (598).txt
log/compress-images/2022-8-26 23.43.48 (599).txt
log/compress-images/2022-8-26 23.43.48 (600).txt
